@{
    @model Book.Models.LoginViewModel
}
<h1>Login</h1>

<form asp-controller="Login" method="post" action="/AddDoctors.cshtml">
    <div>
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="UserName" required>
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div>
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="Password" required>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <button type="submit" >Login</button>

    <button type="submit">Login with Google</button>

    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
</form>

<br />
<br />
<br />

@*<div class="col-md-6">
        <h1>Login With Google</h1>
       @{
           if (Model.LoginWithGoogle.Count == 0 )
                {
                    <div>No external login confirmed</div>
           }
           else
                {
                    <form method="post" asp-action="LoginWithGoogle" asp-route-returnurl="@Model.ReturnUrl">
                        <div>
                            @foreach (var provider in Model.LoginWithGoogle)
                    {
                        <button type="submit" class=" btn-btn-primary" name="provider" value="@provider.Name"
                                title=" Login using your @provider.DisplayName account">
                            @provider.DisplayName

                                ></button>
                    }
                        </div>

                    </form>
                }
        }
    </div>*@


